*{
    margin: 0;
    padding: 0%;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: aliceblue;
    color: white;
}
section{
    margin: 15px 0px;
    padding: 40px;
    background-color: rgb(29, 122, 204);
}
h1,h2,h3{
    padding: 5px 0px;
}
.box, .box-2{
    background-color: aquamarine;
    color: #333;
    margin: 5px 0px;
}
button{
    padding: 3px 36px;
    margin-top: 7px;
}


